html, body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

#begin-cont {
    background: black;
    padding-top: 15vh;
    display: block;
    position: relative;
    height: 100vh;
    width: auto;
    padding: auto;
    text-align: center;
}

/*rgb(247, 217, 33);*/

#logo-force {
    height: 60vh;
    width: auto;
}

video.fullscreen {
    position: fixed;
    top:50%;
    left:50%;
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    z-index:-100;
    transform:translate(-50%, -50%);
}

.list-group {
    width: 90%;
    padding: 3%;
    height: auto;
    margin: 2% auto;
    display: table;
    text-align: center;
    background: rgba(255,255,255,0.5);
    height: 328px;
    border-radius: 20px;
}

#quiz-container {
    display: none;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    height: auto;
    background: #696969;
}

#quiz-container:target {
    display: block;
}


.questions {
    font-family: monospace;
    color: white;
    font-size: 32px;
}

.answers {
    display: inline-block;
    margin 0 auto;
    width: 90%;
}
.answers_item {
    margin: 0 0 0 15vh;
    color: #000000;
    display: inline-block;
    position: relative;
    float: left;
    width: 55vh;
    height: auto;
}

.answers_item input[type=radio]{
    position: absolute;
    visibility: hidden;
}

.answers_item label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 3.5vh;
    border: 4px solid black;
    border-radius: 10px;
    padding: 25px 25px 25px 80px;
    margin: 5px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
}

.answers_item:hover label{ 
    color: #FFFFFF;
    border-color: #FFFFFF;
    transition: border .30s linear;
}

.answers_item .check{
    display: block;
    position: absolute;
    border: 3px solid #000000;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 35px;
    left: 20px;
	z-index: 5;
	transition: border .25s linear;
}

.answers_item:hover .check { border: 5px solid #FFFFFF; }
.answers_item .check::before {
    display: block;
    position: absolute;
	content: '';
    border-radius: 100%;
    height: 28px;
    width: 28px;
    top: -1px;
    left: -1px;
    margin: 0 auto;
	transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check { border: 5px solid #FFFFFF; }
input[type=radio]:checked ~ .check::before{ background: #FFFFFF; }
input[type=radio]:checked ~ label{ color: #FFFFFF; border-color: #FFFFFF; }

#rev-quiz {
    background-color: white;
    border-radius: 10px;
    font-size: 4vh;
    font-weight: 800;
    font-family: starwars1;
    padding: 2vh;
    text-decoration: none;
    color: #000000;
}

#rev-quiz:hover {
    box-shadow: 0px 0px 200px red;
    transition: all 0.2s linear;
}

#submit {
    margin-left: 45%;
    background-color: white;
    border-radius: 10px;
    font-size: 4vh;
    font-weight: 800;
    font-family: starwars1;
    padding: 2vh;
    text-decoration: none;
    color: #000000;
}

#submit:hover {
    box-shadow: 0px 0px 200px red;
    transition: all 0.2s linear;
}

/*fonts*/
@font-face {
    font-family: starwars1;
    src: url(fonts/font1.ttf);
}