html, body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Roboto Slab;
    src: url("css/fonts/RobotoSlab-Regular.ttf");
}

#begin-cont {
    background: black;
    padding-top: 15vh;
    display: block;
    position: relative;
    height: 100vh;
    width: auto;
    padding: auto;
    text-align: center;
}

/*rgb(247, 217, 33);*/

#logo-force {
    height: 65vh;
    width: auto;
    margin: 0;
}

video.fullscreen {
    position: fixed;
    top:50%;
    left:50%;
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    z-index:-100;
    transform:translate(-50%, -50%);
}

.list-group {
    width: 90%;
    padding: 3%;
    margin: auto;
    display: table;
    text-align: center;
    background: #009933
}

#quiz-container {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background: #000;
}

#quiz-container:target {
    display: block;
}


.questions {
    font-family: monospace;
    color: white;
    font-size: 2rem;
    margin: auto;
    text-align: center;
    width: 80%
}

.answers {
    margin: auto;
    width: 90%;
    text-align: center;
}
.answers_item {
    margin: auto;
    display: inline-block;
    position: relative;
    width: 75vh;
    text-align: center;
    padding: 1rem;
}

.answers_item input[type=radio]{
    position: absolute;
    visibility: hidden;
}

.answers_item label{
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 3vh;
    border: 5px solid;
    padding: 3%;
    margin: 10px auto;
    cursor: pointer;
    color:#FFF
}

.answers_item:hover label{ 
    color: #FFF;
    border-color: #FFF;
    box-shadow: 0px 0px 50px #1aff8c;
    transition: all 0.2s linear;
}

.answers_item .check{
    display: block;
    position: absolute;
    height: 25px;
    width: 25px;
    top: 35px;
    left: 20px;
	z-index: 5;
	transition: border .25s linear;
}

/**.answers_item:hover .check { 
    border: 5px solid #FFF; 
}**/

.answers_item .check::before {
    display: block;
    position: absolute;
	content: '';
    height: 28px;
    width: 28px;
    top: -1px;
    left: -1px;
    margin: 0 auto;
	transition: background 0.25s linear;
}

/**input[type=radio]:checked ~ .check { border: 5px solid #FFFFFF; }
input[type=radio]:checked ~ .check::before{ background: #FFFFFF; }**/

input[type=radio]:checked ~ label{ 
    color: #FFF; 
    border-color: #00b359; 
    background-color: #00b359
}

#rev-quiz {
    background-color: #fff;
    border-radius: 5px;
    font-size: 5vh;
    font-weight: bolder;
    font-family: starwars1;
    padding: 1.5vh;
    text-decoration: none;
    color: #000000;
}

#rev-quiz:hover {
    box-shadow: 0px 0px 50px #1aff8c;
    transition: all 0.2s linear;
}

#submit {
    margin-left: 45%;
    background-color: #1aff8c;
    border-radius: 10px;
    font-size: 4vh;
    font-weight: 800;
    font-family: starwars1;
    padding: 1vh;
    text-decoration: none;
    color: #000;
    border:3px solid #1aff8c;
    cursor:pointer
}

#submit:hover {
    box-shadow: 0px 0px 50px white;
    transition: all 0.2s linear;
}

/*fonts*/
@font-face {
    font-family: starwars1;
    src: url(fonts/font1.ttf);
}

.list-group {
    background-color: #1aff8c;
}

.nav-item i {
    color: #1aff8c;
}

.nav-item b {
    color: #1aff8c;
}

.cover {
	min-height:100%;
    display:flex;
    align-items:center
}