html, body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Roboto Slab;
    src: url("css/fonts/RobotoSlab-Regular.ttf");
}

#begin-cont {
    background: black;
    padding-top: 15vh;
    display: block;
    position: relative;
    height: 100vh;
    width: auto;
    padding: auto;
    text-align: center;
}

/*rgb(247, 217, 33);*/

#logo-force {
    height: 65vh;
    width: auto;
    margin: 0;
}

video.fullscreen {
    position: fixed;
    top:50%;
    left:50%;
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    z-index:-100;
    transform:translate(-50%, -50%);
}

.display-3 mb-4 w-100 text-info {
    font-family: Roboto Slab;
}

@media(min-width:320px & max-width:375px) {
    .card {
        width:100%;
        margin:auto;
        padding:1rem;
        display:inline-block; 
        position:relative;
        height:auto;    
    }
    .card img {
        width:100px;
        margin:auto;
    }
}

@media(max-width:1025px & min-width:769px) {
    .card {
        width:100%;
        margin:auto;
        padding:1rem;
        display:inline-block; 
        position:relative;
        height:auto;    
    }
    .card img {
        width:100px;
        margin:auto;
    }
}

@media(max-width:768px & min-width:426px) {
    .card {
        width:100%;
        margin:auto;
        padding:1rem;
        display:inline-block; 
        position:relative;
        height:auto;    
    }
    .card img {
        width:100%;
        margin:auto;
    }
    .card a {
        width:100%;
        margin:auto;
    }
}

@media(max-width:425px) {
    .card {
        width:100%;
        margin:auto;
        padding:1rem;
        display:inline-block; 
        position:relative;
        height:auto;    
    }
    .card img {
        width:100px;
        margin:auto;
    }
}

